PORT=3000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# Backend API 
CLIENT_BACKEND_API=http://localhost:4000/api/v1

DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/boilerplate_db
JWT_SECRET=replace-with-a-secure-random-secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=replace-with-a-secure-refresh-secret
JWT_REFRESH_EXPIRES_IN=7d